footer,
footer ul,
footer li {
  display: flex;
}

footer {
  flex-shrink: 0;
  align-items: center;
  flex-direction: column;
  background-color: #9e6b67;
  padding: 20px;
}

footer ul {
  width: 90%;
  list-style: none;
  justify-content: space-around;
}

footer li {
  width: 33%;
  padding: 20px 0;
  justify-content: center;
}
