#logoSection {
  background-color: #fdf3f3;
}

#logoSection,
#navSection,
#navSection ul,
#navSection li {
  display: flex;
  justify-content: center;
}

#logoSection,
#navSection {
  padding: 20px;
}

#navSection {
  background-color: #e2cdca;
}

#navSection ul {
  padding-inline-start: 0;
  list-style: none;
}

#navSection li {
  padding: 0px 20px;
}
